// HEADER start
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 156px;
    height:85vh;
    .intro {
        width: 55%;
    }
    .header-img {
        width: 40%;
        height: 80vh;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        transform: translateX(20px);
        img {
            width:100%;
        }
    }
    .intro {
        .social {
            ul {
                list-style: none;
                display:flex;
                padding:0;
                li{
                    margin-right: .8rem;
                    font-weight: 100;
                    padding:8px 0;
                    a{
                        transition: .3s ease-in-out;
                        &:hover {
                            color: $accent;
                        }

                    }
                }
            }
        }
    }
}
.scroll-cta {
    overflow: hidden;
    margin-top:50px;
    display:flex;
    height:60px;
    justify-content: center;
    transition: 1s ease-in-out;
    color: $accent;
    i {
        animation: fade-in-out 2s ease-in-out infinite;
    }
    &.hidden {
        height:0;
        opacity:0;
    }
}
@keyframes fade-in-out  {
    0%,10% {
        transform: translateY(-8px);
        opacity:0;
    }
    60% {
        opacity:1;
    }
    90%,100% {
        transform: translateY(16px);
        opacity:0;
    }
}
// HEADER end
@media (max-width: 992px) {
   

   
    
}
@media (max-width: 768px) {    
  
    
}
@media (max-width: 576px) {    
    header {
        height: 70vh;
        .intro {
            width: 90%;
            z-index: 1;
        }
        .header-img {
            width:80%;
            height: 100%;
            position: absolute;
            z-index: 0;
            right: -1%;
            img {
                opacity: .3;

            }
        }
    }
    
}
