
// NAVBAR start
.burger {
    display:none;
}
.brand {
    margin: 0;
    letter-spacing: .3rem;
    text-transform: uppercase;
    h1 {
        font-weight: 100;
        margin: 0;
        font-size: 1.5em;
        transition: .5s ease-in-out;
        &:hover {
            color: $accent;
            
        }
    }
}
nav {
    position: fixed;
    top:0;
    z-index: 9999;
    background-color: rgba(24,24,24,.9);
    transition: .6s ease-in-out;
    padding: 20px 0 22px 0;
    box-shadow: none;
    .navbar {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            display:flex;
        }
        ul {
            list-style: none;
            display:flex;
            margin:0;
            li{
                margin-left: 1.5rem;
                font-weight: 100;
                font-style: italic;
                padding:8px 0;
                transition: .5s ease-in-out;
                &:hover {
                    box-shadow: inset 0 -3px $accent;
                }
                &#mail, &#tel {
                    display:none;
                }
            }
        }
        ul.lang{
            display: flex;

            li {
                margin-left: .4rem;
            }
            
        }
    }
    &.scrolled {
        padding: 10px 0 12px 0;
        box-shadow: 0px 15px 25px rgba(30,30,30,0.8);
    }
}
// NAVBAR end

@media (max-width: 992px) {
   
    nav {
        .navbar {
            .brand {
                width:50%;
            }
        }
    }
   
    
}
@media (max-width: 768px) {    
    .burger {
        display:block;
        opacity: .8;
        cursor: pointer;
        position: relative;
        
    }
    .mobBR{
        display:inline;
    }
    nav {
        .navbar{
            .brand {
                font-size: 12px;
            }
            .menu{
                position: absolute;
                right: -90%;
                padding-top: 13vh;
                width:50vw;
                border-left: 1px solid $light;
                background-color: rgba(24,24,24,.95);
                top:0;
                bottom:0;
                height:100vh;
                transition: .5s ease-in-out;
                &.show {
                    right:0;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    li {
                        margin-bottom:10px;
                        margin-left: 0;
                        &#mail, &#tel {
                            display:block;
                        }
                    }
                    
                }
            }
        }
    
    }
    
}
