@import 'variables';
@import 'nav';
@import 'header';
@import 'experience';
@import 'projects';
@import 'about';
@import 'sal';



*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin:0; padding:0;
    background-color: $dark;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: $light;
}

p {
    font-weight: 100;
    line-height: 1.8rem;
    letter-spacing: .1rem;
    &.descr {
        letter-spacing: .28rem;
    }
}
.underline {
    box-shadow: inset 0 -2px $accent;
    transition: .4s ease-in-out;
    &:hover {
        box-shadow: inset 0 -20px $accent;
        color: $dark;
    }
}
.mobBR {
    display: none;
}
.light-hl {
    font-weight: 400;
}

.sep-line {
    width:6rem;
    height:1px;
    border-bottom: 1px solid $accent;
}

.container {
    width:960px;
    margin: 0 auto;
    color: $light;
    transition: .8s ease-in-out;
    div {
        transition: 1s ease-in-out;

    }
}

.full-row {
    width:100%;
}

button {
    padding: 12px 12px;
    background: transparent;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    color: $light;
    border: 1px solid $light;
    border-radius: 4px;
    cursor: pointer;    
    transition: .3s ease-in-out;
    &:hover {
        background-color: $light;
        color: $dark;
        letter-spacing: .25rem;
    }
    &:focus {
        outline:none;
    }
}

select {
    padding:10px;
    width:125px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    border: 1px solid $light;
    border-radius: 4px;
    color:$light;
    background:transparent;
    outline:none;
    option {
        color: $dark;
    }
}

.j-sep {
    display:flex;
    justify-content: center;
    align-items:center;
    color:$accent;
    margin: 100px 0;
    .line1, .line2 {
        transition: .6s ease-in-out;
        height:1px;
        width:0;
        border-bottom: 1px solid $accent;
    }
    .line1 {
        transform-origin: 100% 0%;
    }
    .line2 {
        transform-origin: 0% 0%;
    }
    h4 {
        transition: 1.2s cubic-bezier(.52,2.01,.64,1);
        margin: 0 1rem;
        opacity:0;
        transform: rotate(180deg);
    }
    &.in-window {
        .line1, .line2 {
            width:2rem;
        }
        h4{
            opacity:1;
            transform: scale(1);
            transform: rotate(360deg);
        }
    }
}

.scroll-cta {
    overflow: hidden;
    margin-top:50px;
    display:flex;
    height:60px;
    justify-content: center;
    transition: 1s ease-in-out;
    color: $accent;
    i {
        animation: fade-in-out 2s ease-in-out infinite;
    }
    &.hidden {
        height:0;
        opacity:0;
    }
}