// $dark: #181818;
// $accent: rgb(196, 216, 253);
// $middle: #363636;
// $light: #ffffff;
@import 'variables';
@import 'nav';

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin:0; padding:0;
    background-color: $dark;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: $light;
}

p {
    font-weight: 100;
    line-height: 1.8rem;
    letter-spacing: .1rem;
    &.descr {
        letter-spacing: .28rem;
    }
}
.underline {
    box-shadow: inset 0 -2px $accent;
    transition: .4s ease-in-out;
    &:hover {
        box-shadow: inset 0 -20px $accent;
        color: $dark;
    }
}
.mobBR {
    display: none;
}
.light-hl {
    font-weight: 400;
}

.sep-line {
    width:6rem;
    height:1px;
    border-bottom: 1px solid $accent;
}

.container {
    width:960px;
    margin: 0 auto;
    color: $light;
    transition: .8s ease-in-out;
    div {
        transition: 1s ease-in-out;

    }
}

.full-row {
    width:100%;
}

button {
    padding: 12px 10px;
    background: transparent;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    color: $light;
    border: 1px solid $light;
    border-radius: 4px;
    cursor: pointer;    
    transition: .3s ease-in-out;
    &:hover {
        background-color: $light;
        color: $dark;
        letter-spacing: .25rem;
    }
    &:focus {
        outline:none;
    }
}

select {
    padding:10px;
    width:125px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    border: 1px solid $light;
    border-radius: 4px;
    color:$light;
    background:transparent;
    outline:none;
    option {
        color: $dark;
    }
}

.j-sep {
    display:flex;
    justify-content: center;
    align-items:center;
    color:$accent;
    margin: 100px 0;
    .line1, .line2 {
        transition: .6s ease-in-out;
        height:1px;
        width:0;
        border-bottom: 1px solid $accent;
    }
    .line1 {
        transform-origin: 100% 0%;
    }
    .line2 {
        transform-origin: 0% 0%;
    }
    h4 {
        transition: 1.2s cubic-bezier(.52,2.01,.64,1);
        margin: 0 1rem;
        opacity:0;
        transform: rotate(180deg);
    }
    &.in-window {
        .line1, .line2 {
            width:2rem;
        }
        h4{
            opacity:1;
            transform: scale(1);
            transform: rotate(360deg);
        }
    }
}

.scroll-cta {
    overflow: hidden;
    margin-top:50px;
    display:flex;
    height:60px;
    justify-content: center;
    transition: 1s ease-in-out;
    color: $accent;
    i {
        animation: fade-in-out 2s ease-in-out infinite;
    }
    &.hidden {
        height:0;
        opacity:0;
    }
}
@keyframes fade-in-out  {
    0%,10% {
        transform: translateY(-8px);
        opacity:0;
    }
    60% {
        opacity:1;
    }
    90%,100% {
        transform: translateY(16px);
        opacity:0;
    }
}


// HEADER start
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 156px;
    height:85vh;
    .intro {
        width: 55%;
    }
    .header-img {
        width: 40%;
        height: 80vh;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        transform: translateX(20px);
        img {
            width:100%;
        }
    }
    .intro {
        .social {
            ul {
                list-style: none;
                display:flex;
                padding:0;
                li{
                    margin-right: .8rem;
                    font-weight: 100;
                    padding:8px 0;
                    a{
                        transition: .3s ease-in-out;
                        &:hover {
                            color: $accent;
                        }

                    }
                }
            }
        }
    }
}
// HEADER end

// EXPERIENCE start
.exp {
    text-align:center;
    h1, h2, h3, h4, h5, h6, p {
        margin: 5px 0;
    }
    h2 {
        font-size: 1.4rem;
    }
    .jobs  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        .job{
            .image {
                margin-top: 50px;
                height:100px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-height:100%;
                    max-width:50%;
                    margin-bottom: 30px
                }
            }
            width:30%;
            
            margin: 20px 0;
            .pos {
                font-size: 1.2rem;
            }
            .date{
                font-style: italic;
                margin-top: 0px;
                line-height: normal;
            }
        }
    }
}
// EXPERIENCE end

// PROJECTS start
.projects .project:not(:first-child) {
    margin-top: 50px;
}
.project {
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 60px 10px 0 10px;
    border-bottom: 1px solid $accent;
    button, select {
        margin-top: 30px;
    }
    &.even {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &.odd {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        text-align: right;
    }
    .text {
        height:100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        width:50%;
        margin-bottom: 50px;
        .client-name {
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: .3rem;
            margin: 0;
        }
        .proj-name {
            margin: 15px 0;
        }
        p {
            margin:0;
        }
        .rights {
            font-size: .7rem;
            font-style: italic;
            a {
                transition: .4s ease-in-out;
                box-shadow: inset 0 -1px $accent;
                &:hover {
                    box-shadow: inset 0 -20px $accent;
                    color: $dark;

                }
            }
        }
    }
   .proj-img {
        width: 40%;
        height: 100%;
        overflow: hidden;
        display:flex;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: visible;
        img {
            width:auto;
            height: 100%;
            &.mob-mockup {
                height:80%;
                transform:translateY(20px);
                border-radius: 15px;
                box-shadow: #18181830 0 0 20px;
                z-index:10;
            }
            &.deskt-mockup {
                transform: translateX(-15px);
                z-index: 9;
            }
       }
   } 
}

.proj-img.banner {
    #animation-container {

        width: 300px;
        height: 250px;
        background-color: #eee;
        overflow: hidden;
        padding: 10%;
        position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    h2 {
        line-height: 1.5rem;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 55%;
        z-index: 1000;
        transform: 100% 0%;
    }

    .cta {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 60%;
    }

    .urlPos {
        position: absolute;
        left: 7%;
        top: 75px;
        z-index: 10;
        transform-origin: 0 50%;
    }

    .urlPos img {
        margin-top: 5px;
        width: 78%;
    }

    .wen_schraeg {
        transform: skew(0deg, -5deg);
        font-family: ff-meta-web-pro, sans-serif;
        font-style: normal;
        font-weight: 900;
        color: white;
        hyphens: none;
    }



    .url,
    .fix {
        /* font-size: 3.5vh;
        line-height: 3.5vh; */
        /* font-size: 3.5vh;
        line-height: 3.5vh; */
        font-size: 1.4rem;
        line-height: 1.5rem;
        width: 100%;
        margin-top: 8px;
    }

    .fix {
        text-align: center;
        margin-left: -15px;
    }

    .url {
        display: none;

    }

    .bilder-unten {
        width: 101%;
        
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .stoerer {
        z-index: 999;
        position: absolute;
        top: 21%;
        left: 3%;
        width: 45%;
    }



    #persona-bild {
        z-index: 0;
        height: 100%;
    }


    img {
        width: 100%;
    }

    #hg-blau-banner {
        z-index: 1;
        width: 105%;
        transform-origin: left bottom;
    }


    .hg-1 {
        width: 103%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 5;
    }

    #meine-url {
        font-weight: 600;
    }
}
// PROJECTS end
// ABOUT start
.cv {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
        margin-top:0;
    }
}
.me {
    width:20%;
    img {
        width:100%;
    }
}
.bio {
    width:50%;
   
}
.skills {
    width:20%;
    ul {
        padding:0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        list-style: none;
        margin-bottom: 35px;
        li {
            letter-spacing: .1rem;
            margin-left:0;
            line-height: 1.5rem;
            margin-bottom: 5px;
            &:before {
                content: "_ ";
                color: $accent;
            }
            ul{
                margin-bottom: 10px;
                li{
                    margin-left: 25px;
                    font-size: .8rem;
                    line-height: 1rem;
                    font-style: italic;
                    &:before {
                        content: " ";
                        color: $accent;
                    }
                }
            }
        }
    }
}
// ABOUT end
// FOOTER start
footer {
    z-index: 9999;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
        ul {
            list-style: none;
            display:flex;
            padding:0;
            li{
                margin-right: .8rem;
                font-weight: 100;
                padding:8px 0;
                color:$light;
                a{
                    transition: .3s ease-in-out;
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
    .contact {
        li {
            a{
                padding-bottom: 8px;
                transition: .5s ease-in-out;
                &:hover {
                    box-shadow: inset 0 -3px $accent;
                }
            }
        }
        li:not(:first-child) {
            &:before {
                content:"|";
                font-weight: 900;
                margin-right: 10px; 
            }
        }
    }
}
// FOOTER end
// Media queries
@media (max-width: 992px) {
    .container {
        width:720px;
    }
   
    footer {
        .brand {
            display:none;
        }
    }
    
}
@media (max-width: 768px) {
    .container {
        width:540px;
    }
    .j-sep {
        margin:100px 0;
    }
    .burger {
        display:block;
        opacity: .8;
        cursor: pointer;
        position: relative;
        
    }

    .exp {
        .jobs{
            .job{
            width: 45%;
            }
        }
        
    }
    
    .project {
        height:90vh;
        width:100%;
        margin: 0 auto;
        &.odd, &.even {
            flex-direction: column;
            align-items: center;
            .text {
                height: auto;
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
            }
            .proj-img {
                width: 100%;
                height:50%;
                display: flex;
            }
        }
        
    }

    
}
@media (max-width: 576px) {
    .container {
        width:90%;
        margin: 0 auto;
    }
    
    header {
        height: 70vh;
        .intro {
            width: 90%;
            z-index: 1;
        }
        .header-img {
            width:80%;
            height: 100%;
            position: absolute;
            z-index: 0;
            right: -1%;
            img {
                opacity: .3;

            }
        }
    }
    .exp {
        .jobs{
            .job{
            width: 90%;
            }
        }
        
    }
    .project {
        height:110vh;
        .proj-img {
            height:50%;
            img {
                height:90%;
            }
        }
    }
    .cv {
        display:flex;
        flex-direction: column;
     
    }
    .mobBR{
        display:inline;
    }
    .me, .bio, .skills {
        width:100%;
    }
    .me {
        margin-bottom: 50px;
    }
    footer {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        ul {
            margin-top:0;
        }
    }
    
}